body{
            
    margin:0;
    padding:0;
}
.header-container img{
    height:100px;
    border-radius: 15px;
}
nav{
    background-color:transparent;
    padding:10px;
}
nav ul{
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
}
nav ul li{
    color:rgb(73, 158, 175);
    font-size: 25px;
    margin:0 15px;
    cursor:pointer;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding-right:3cm;
}
.active{
    text-decoration: underline;
}
nav ul li:hover{
    color:rgba(131, 44, 44, 0.879);
  
}
nav ul li a{
    text-decoration: none;
    color:inherit;
}
#temp1{
    background-image: url(https://th.bing.com/th/id/OIP.743-uLPlTHI0iQ9WGDnJjwHaE8?w=251&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: cover;
    height:13cm;
    padding-top:1px;
    font-size:xx-large;
    text-align: center;
    color:black;
}
#temp1 h2{
    color:rgba(62, 0, 0, 0.986);
}

#btn1{
    width:4cm;
    height:40px;
    background-color: rgb(23, 153, 193);
    border-color: transparent;
    border-radius: 20px;
    font-size: medium;
  
}
#btn1:hover{
    background-color: rgba(13, 62, 80, 0.893);
    color:white;
}
#temp2{
    padding-top:3%;
    padding-left:10%;
    padding-right:10%;
    font-size: 20px;
}
#temp3 img{
  height:10cm;
  float:left;
}
#temp3{
    background-color:rgba(203, 242, 244, 0.473) ;
    height:13cm;
    padding-top:1cm;
    font-size: x-large;
}
#temp3 h1{
    color:rgb(39, 221, 231);
    text-align: center;
    font-size:xx-large
}
#temp4 img{
    float: left;
    border-radius: 45%;;
}
#temp4 p{
    font-size:x-large;
}
#temp4{
    padding-top:1cm;
    padding-right: 5cm;
    padding-left:3cm
}
#temp4-1 img{
    float: right;
    border-radius: 40%;
}
#temp4-1 p{
    font-size:x-large;
}

#temp4-1{
    padding-top:3cm;
    padding-left:4cm;
    padding-right:4cm
}
.btn2{
    width:4cm;
    height:40px;
    background-color: rgb(23, 153, 193);
    border-color: transparent;
    border-radius: 20px;
    font-size: medium;
    margin-left: 4cm;
}
.btn2:hover{
  color:white;
  background-color: rgb(67, 104, 177);  
  border: 1px solid black;
}
.footer-container{
    background-color: rgba(53, 47, 47, 0.215);
    text-align: center;
    height:4cm;
}
.icons img{
    height:32px;
    width:32px;
}